src/main/webapp/META-INF/config.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.sunce.xin/schema/config"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.sunce.xin/schema/config"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="config">
        <xsd:complexType>
            <!-- name 定于成员变量名称，type 定义成员变量蕾西 -->
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="url" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
