src/main/webapp/META-INF/programmer.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.sunce.xin/schema/programmer"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.sunce.xin/schema/programmer"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="programmer">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="age" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>
